#projectname
{
	text-indent: 200px;
}

table.doxtable th {
	background-color: #978a7e;
}

dl.note
{
    border-color: #ffcc33;
}

div.header
{
	border-bottom: 5px solid #ffffff;
	background-color: #ffcc33;
}

div.headertitle
{
	background-color: #ffcc33;
	padding: 1px 0px 0px 15px;
}

a {
	font-weight: bold;
	color: #666666;
}

.contents a:visited {
	color: #666666;
}
a.el {
	color: #666666;
}

.arrow {
	color: #666666;
}

.navpath li.navelem a
{
	font-weight: bold;
	color: #000000;
}

.navpath li.navelem a:hover
{
	font-weight: bold;
	color:#666666;
}

.navpath li.footer
{
	font-weight: bold;
    color: #000000;;
}

h1.glow, h2.glow, h3.glow, h4.glow, h5.glow, h6.glow {
	text-shadow: 0 0 15px #ffcc33;
}

div.line.glow {
	background-color: #ffcc33;
	box-shadow: 0 0 10px #ffcc33;
}

.memberdecls td.glow, .fieldtable tr.glow {
	background-color: #ffcc33;
	box-shadow: 0 0 15px #ffcc33;
}

.memitem.glow {
	box-shadow: 0 0 15px #ffcc33;
}


