@import "axis-colors";

// Typography

$body-font-family:  'Open Sans', 'Arial', sans-serif;


// Colors

$body-background-color: $white;
$sidebar-color: $color-warm-gray-01;
$search-background-color: $white;
$table-background-color: $white;
$code-background-color: $color-warm-gray-03;
$feedback-color: darken($sidebar-color, 6%);

$body-text-color: $color-text-01;
$body-heading-color: $color-text-01;
$search-result-preview-color: $color-gray-06;
$nav-child-link-color: $color-gray-06;
$link-color: $color-brand-08;


// Left menu changes

// Axis logo
.side-bar .site-header {
  background-color: $white;
}

// Keep the left menu items as text color
.side-bar .site-nav .nav-list .nav-list-item .nav-list-link {
  color: $color-text-01;
}


// Blockquotes

.main-content {
  blockquote:before {
    content: '!';
    font-size: 1.5rem;
    font-style: bold;
    position: absolute;
    left: -1.6rem;
    color: $color-text-01;
  }
  blockquote {
    font-style: italic;
    position: relative;
    padding-left: 1rem;
    border-left-style: solid;
    border-left-width: 0.5rem;
    background: $color-warm-gray-01;
    border-left-color: $color-brand-01;
  }
}

// Older ACAP SDK versions

.acap-sdk-version-3 {
  background-color: $color-gray-01;
}