$color-brand-01: #fc3;
$color-brand-02: #d8cfc6;
$color-brand-03: #9a8b7d;

$color-ui-01: #fff;
$color-ui-02: #333;

$color-text-01: #333;
$color-text-link: #333;
$color-text-link-hover: #333;

$color-warm-gray-01: #faf8f6;
$color-warm-gray-02: #f7f3f1;
$color-warm-gray-03: #e6e3e0;
$color-warm-gray-04: #d8cfc6;
$color-warm-gray-05: #9a8b7d;

$color-gray-05: #666666;
$color-gray-06: #555555;
$color-gray-07: #444444;
$color-gray-08: #333333;
