---
layout: page
---

<body class="acap-container-applications-deprecation-page">

  <blockquote>
    <b>Note on container applications:</b>
    <li>New Axis products released on AXIS OS 12.x will not have container support.</li>
    <li><a href="https://www.axis.com/support/tools/product-selector/shared/%5B%7B%22index%22%3A%5B10%2C0%5D%2C%22value%22%3A%22ARTPEC-8%22%7D%2C%7B%22index%22%3A%5B10%2C2%5D%2C%22value%22%3A%22Yes%22%7D%5D">All products with existing container support</a> will be supported until end of 2031 when <a href="https://help.axis.com/en-us/axis-os">AXIS OS 2026 LTS</a> reaches end of life.</li>
    <li>The recommended way to build analytics, computer vision and machine learning applications on Axis devices with ACAP support, is to use the ACAP Native SDK. For usage see the <a href="https://github.com/AxisCommunications/acap-native-sdk-examples">acap-native-sdk-examples</a> repository.</li>
    <li>The ACAP Computer Vision SDK has been archived as its components have been refactored: utility libraries and scripts are now available in <a href="https://github.com/AxisCommunications/acap-runtime">ACAP Runtime</a>. For usage of the new setup, see the <a href="https://github.com/AxisCommunications/acap-computer-vision-sdk-examples">examples</a> repository.</li>
  </blockquote>

  {{ content }}
</body>
